@{
    int donationCurrent = ViewBag.DonationCurrent;
    int donationTarget = ViewBag.DonationTarget;

    bool isDonationSatisfied = donationCurrent >= donationTarget;
    double satisfiedPercentage = donationTarget == 0
        ? 0
        : ((double)donationCurrent / donationTarget) * 100;

    int progressWidth = (int)(satisfiedPercentage > 100 ? 100 : satisfiedPercentage);
}


@if (!isDonationSatisfied)
{


    <div class="card border-0 shadow mb-4" style="background:#111;">
        <div class="card-body  border border-warning rounded-3 border-5">
            <h4 class="text-warning">Please read</h4>
            <h6>
                vxInstagram runs on my private server. Handling hundreds of thousands of monthly requests is challenging to maintain as a college student. To keep the service alive, please consider donating if you have the means. Thank you.
            </h6>

            <h5 class="mb-0 fw-bolder text-warning">@donationCurrent€ raised this month</h5>
            <h6 class="text-muted">Out of @donationTarget€</h6>
            <div class="progress rounded-pill border-0 mb-3" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="height:1rem;">
                <div class="progress-bar bg-warning border-0 d-flex align-items-center justify-content-center" style="width: @progressWidth%">
                </div>
            </div>

            <a class="btn btn-warning rounded-pill fw-bold" href="https://buymeacoffee.com/alsauce" target="_blank">Buy Me A Coffee</a>

        </div>
    </div>
}

else
{
    <div class="card border-0 shadow mb-4" style="background:#111;">
        <div class="card-body  border border-success rounded-3 border-5">
            <h4 class="text-success">Thank you for your support</h4>
            <h6>
                vxInstagram runs on my private server. Handling hundreds of thousands of monthly requests is challenging to maintain as a college student. To keep the service alive, please consider donating if you have the means. Thank you.
            </h6>

            <h5 class="mb-0 fw-bolder text-success">@donationCurrent€ raised this month</h5>
            <h6 class="text-muted">Out of @donationTarget€</h6>
            <div class="progress rounded-pill border-0 mb-3" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="height:1rem;">
                <div class="progress-bar bg-success border-0 d-flex align-items-center justify-content-center" style="width: @progressWidth%">
                </div>
            </div>

            <a class="btn btn-success rounded-pill fw-bold" href="https://buymeacoffee.com/alsauce" target="_blank">Buy Me A Coffee</a>

        </div>
    </div>
}
